.contenedor {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: rgb(169, 215, 169);
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  margin-right: 2rem;
  padding: 0.5rem 1.5rem;
}
p {
  font-size: 1.5rem;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  margin-right: 2rem;
  padding: 0.5rem 1.5rem;
}
