h1 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Dancing Script", cursive;

  margin-right: 2rem;
  padding: 0.5rem 1.5rem;
}
p {
  font-size: 1.5rem;
  font-family: "Dancing Script", cursive;

  margin-right: 2rem;
  padding: 0.5rem 1.5rem;
}
