.cartaRemedios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 20px;
}

article.remedio {
  width: 15%;
  height: 18.75rem;
  overflow-y: auto;
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  box-shadow: 0.625rem 0.625rem 0.625rem rgb(40, 154, 19);
}
article.remedio {
  position: relative; /* Añadimos posición relativa */
}

article.remedio:hover {
  transform: scale(1.1);
}

article.remedio::before {
  content: "";

  position: absolute;
  background-image: url("/assets/taza.jpeg");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

article.remedio:hover::before {
  opacity: 0.8;
}

/* article.remedio:hover {
  background-color: rgba(243, 247, 243, 0);

  background-blend-mode: multiply;
  transform: scale(1.1);
} */
.front {
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dolencia {
  text-transform: uppercase;
  margin-bottom: 0;
}
.plantas {
  display: flex;
  flex-wrap: wrap;
}

.planta {
  text-transform: lowercase;
  padding: 0;
  margin: 0;
}
/*@media screen and (min-width: 320px) and (max-width: 768px) {*/
/*    .cardRemedio {*/
/*        width: calc(100%-1.25rem);*/
/*        margin-right: 0.625rem;*/
/*        margin-bottom: 0.625rem;*/
/*        font-size: var(--font-size-mobile);*/
/*    }*/
/*}*/

/*@media screen and (min-width: 769px) and (max-width: 1024px) {*/
/*    .cardRemedio {*/
/*        width: calc(50%-1.25rem);*/
/*        margin-right: 0.625rem;*/
/*        margin-bottom: 0.625rem;*/
/*        font-size: var(--font-size-tablet);*/
/*    }*/
/*}*/
/*@media screen and(min-width: 1025px) {*/
/*    .cardRemedio {*/
/*        width: calc(33%-1.25rem);*/
/*        margin-right: 0.625rem;*/
/*        margin-bottom: 0.625rem;*/
/*        font-size: var(--font-size-desktop);*/
/*    }*/
/*}*/
