.cartaRemedios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 20px;
}

article.remedio {

    width: 235px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding: 1em;
}

article.remedio:hover {
    background-color: #404040;
    background-blend-mode: multiply;
    transform: scale(1.1);
}


/*@media screen and (min-width: 320px) and (max-width: 768px) {*/
/*    .cardRemedio {*/
/*        width: calc(100%-1.25rem);*/
/*        margin-right: 0.625rem;*/
/*        margin-bottom: 0.625rem;*/
/*        font-size: var(--font-size-mobile);*/
/*    }*/
/*}*/

/*@media screen and (min-width: 769px) and (max-width: 1024px) {*/
/*    .cardRemedio {*/
/*        width: calc(50%-1.25rem);*/
/*        margin-right: 0.625rem;*/
/*        margin-bottom: 0.625rem;*/
/*        font-size: var(--font-size-tablet);*/
/*    }*/
/*}*/
/*@media screen and(min-width: 1025px) {*/
/*    .cardRemedio {*/
/*        width: calc(33%-1.25rem);*/
/*        margin-right: 0.625rem;*/
/*        margin-bottom: 0.625rem;*/
/*        font-size: var(--font-size-desktop);*/
/*    }*/
/*}*/