body {
  background: url("../public/assets/fondobotica.jpg");
  background-size: cover;
  opacity: 0rem;
  height: 100vh;
}
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
